body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-container {
  display: grid;
  grid-gap: 1rem;
  margin: 6px;
  width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rebeccapurple;
  height: 200px;
}
