body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% auto 5%;
}

.carousel-container {
  display: grid;
  grid-gap: 1rem;
  margin: 0 6px;
}

.carousel-control {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  color: #fff;
  outline: none;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rebeccapurple;
  color: black;
}
